html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f5f2;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5px;
}

/* Search-section */
.selection {
  margin-bottom: 2px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #e45f4c;
}

/* Form-serch */
.form_conteiner {
  margin-top: 20px;
}

.input_date {
  width: 170px;
  height: 36px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid;
  outline: none;
  color: #454545;
}

.select_sum {
  width: 170px;
  height: 36px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid;
  outline: none;
}

.select {
  width: 240px;
  height: 36px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid;
  outline: none;
}

/* Form-choose */
.form-list {
  padding: 0;
  margin: auto;
  list-style: none;
}

.form-item {
  margin-bottom: 5px;
}

.form-field .input_date {
  align-items: baseline;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* background: linear-gradient(45deg, #e6e9f0, #eef1f5); */
}

.form-icon {
  position: absolute;
  top: 12px;
  left: 16px;
  fill: #212121;
}

.form-field .select:hover,
.form-field .select:focus {
  border: 2px solid #fff;
}

.form-field .input_date:hover,
.form-field .input_date:focus {
  border: 2px solid #fff;
}
.form-field .select_sum:hover,
.form-field .select_sum:focus {
  border: 2px solid #fff;
}

.search-form {
  text-align: center;
}

.search-form .select:hover,
.search-form .select:focus {
  border: 2px solid #fff;
}

.form-field:hover > .form-icon,
.form-field:focus-within > .form-icon {
  fill: var(--accent-color);
}

/* .form-field:hover > .form-label,
.form-field:focus-within > .form-label,
.form-field .select:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  transform: translate(-26px, -32px);
} */

/* button */
.load-more-button {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  height: 36px;
  padding: 0 30px;
  border: 0;
  border-radius: 7px;
  background: #4676d7;
  color: #fff;
  font-size: 16px;
  outline-color: #fff;
}

.load-more-button:hover {
  transform: scale(1.04);
}

/* .material-icons {
  align-items: center;
  color: grey;
} */

/* Info-section */
.inform,
.date_update {
  color: #454545;
  font-weight: 500;
  display: inline-block;
  margin: 4px 12px;
}

.find_lots,
.activ_lots,
.all_lots {
  color: #454545;
  font-weight: 500;
  display: inline-block;
  margin-left: 2px;
}

.inform_line {
  background-color: blanchedalmond;
  border-radius: 5px;
}

/* Card-Modal-form */
.lot-card {
  position: absolute;
  width: 80%;
  padding: 7px;
  background: linear-gradient(45deg, #e6e9f0, #eef1f5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  justify-content: center;
}

.title_card {
  align-items: center;
  padding: 3px 7px;
  font-weight: 90%;
  color: #3a3b3b;
  background-color: #f4aa90;
  font-size: 14px;
  text-align: center;
  list-style: none;
  border-top: 1px solid grey;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.field {
  padding: 4px 7px;
  background-color: #fdf3e0;
  list-style: none;
  border-top-color: #f0f5f2;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid grey;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

/* Table-section */
.table_title {
  font-weight: 700;
  color: #3a3b3b;
  background-color: #e45f4c;
  font-size: 18px;
}

.table {
  text-align: center;
  font-size: 14px;
}

th {
  font-weight: 500;
  border-radius: 4px;
}

.gallery {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery_lot {
  color: #454545;
  background-color: #fad8bf;
  cursor: zoom-in;
}

/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  /* background-color: #454545;
  opacity: 0.7; */
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 105%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url("./images/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

/* scroll top */
.toTopBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid grey;
}

#toTop {
  position: fixed;
  display: flex;
  bottom: 10px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 100;
  cursor: pointer;
  text-align: center;

  opacity: 0;
  visibility: hidden;
}

#toTop.is-hidden {
  opacity: 0.8;
  visibility: visible;
  right: calc(3%);
}

#toTop:hover {
  transform: scale(1.03);
}

/* Modal */
/* .modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    min-width: 528px;
    min-height: 581px;
  }
} */
